/*=============================
	04. Banner part
===============================*/
/* banner area one start */
.banner-area-one{
	width: 100%;
	height: calc(100vh - 100px);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: contain;
	background-color: var(--white);

	.banner-shape {
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
	
		.primary-colour {
			fill: var(--primary);
		}
	
		.black-colour {
			fill: var(--black);
		}
	
	.banner-text{
		.sub-title {
				font-family: var(--font-secondary);
				font-size: 18px;
				font-weight: 700;
				line-height: 27px;
				color: var(--primary);
				text-transform: uppercase;
				margin-bottom: 10px;
			}
		
			.title {
				font-family: var(--font-secondary);
				font-weight: 700;
				font-size: 68px;
				line-height: 115%;
				color: var(--black);
				padding-right: 55px;
				margin-bottom: 20px;
			}
		
			p {
				line-height: 30px;
				margin-bottom: 34px;
			}
	}

		.banner-image {
			position: relative;
			width: 762px;
			height: calc(100vh - 150px);
	
			img {
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 80px;
			}
		}
}